@import "tailwindcss";
@plugin "../hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@utility general-text {
  font-family: "Fira Sans", sans-serif;
  width: 90%;
  margin: 0.5em auto;
  font-size: clamp(18px, 2.5vw, 20px);
  text-align: center;
}

@utility bible-text {
  font-family: "Great Vibes", cursive;
  font-size: clamp(20px, 2.8vw, 22px);
  text-align: center;
  margin: 0.5em auto;
  width: 90%;
}

@utility text-shadow {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

@utility citation {
  font-family: "Fira Sans", sans-serif;
  font-size: clamp(8px, 1.5vw, 12px);
  color: rgb(146, 146, 146);
  white-space: nowrap;
}

@utility sub-header {
  font-size: clamp(20px, 2.5vw, 32px);
  font-family: "Inter", Tahoma, Verdana, sans-serif;
  text-align: center;
}

@layer utilities {
  .button {
    margin: 1em auto;
    width: 40%;
    max-width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(
      to right,
      oklch(95.719% 0.00354 248.563),
      oklch(92.8% 0.006 264.531)
    );
    border: 1px solid gray;
    opacity: 1;
    transition:
      opacity 200ms,
      scale 200ms,
      color 200ms;
  }

  .button:hover {
    opacity: 0.7;
    scale: 1.05;
    color: rgb(50, 50, 50);
    transition:
      opacity 200ms,
      color 200ms,
      scale 200ms;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
