.container {
    position: relative;
    overflow: hidden;
}

.img {
    width: 100%;
}

.textContainer {
    position: absolute;
    width: 100%;
    color: white;
    -webkit-text-stroke: .15em black;
    paint-order: stroke fill;
    bottom: 0;
    text-align: center;
}

@media (min-width: 700px) {
    .img {
        border-radius: 10px;
    }
}