@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fira-sans: var(--font-fira-sans);
  --font-great-vibes: var(--font-great-vibes);
  --font-inter: var(--font-inter);
}

@utility general-text {
  font-family: "Fira Sans", sans-serif;
  font-size: clamp(18px, 2.5vw, 20px);
  text-align: center;
}

@utility bible-text {
  font-family: "Great Vibes", cursive;
  font-size: clamp(20px, 2.8vw, 22px);
  text-align: center;
}

@utility text-shadow {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

@utility citation {
  font-size: clamp(8px, 1.5vw, 12px);
  color: rgb(146, 146, 146);
  white-space: nowrap;
}

@utility sub-header {
  font-size: clamp(20px, 2.5vw, 32px);
  font-family: "Inter", Tahoma, Verdana, sans-serif;
  text-align: center;
  text-wrap: pretty;
}

@layer utilities {
  .button {
    margin: 1em auto;
    width: 40%;
    max-width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(
      to right,
      oklch(95.719% 0.00354 248.563),
      oklch(92.8% 0.006 264.531)
    );
    border: 1px solid gray;
    opacity: 1;
    transition: opacity 200ms, scale 200ms, color 200ms;
  }

  .button:hover {
    opacity: 0.7;
    scale: 1.05;
    color: rgb(50, 50, 50);
    transition: opacity 200ms, color 200ms, scale 200ms;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-sans), Arial, Helvetica, sans-serif;
  font-size: clamp(18px, 2.5vw, 20px);
  text-align: center;
}

p,
h2,
h3,
h4,
h5,
h6 {
  width: 90%;
  margin: 0.5em auto;
}
