nav {
    position: sticky;
    top: 0;
    height: 30px;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 9999;
}

nav label {
    position: absolute;
    right: 5px;
    top: 0;
}

.menu {
    width: 100%;
    position: absolute;
    background-color: white;
    top: -500px;
    transition: top 500ms ease-out;
}

.menuShowing {
    top: 0;
    transition: top 500ms ease-in-out;
}

.subMenu {
    display: flex;
    justify-content: center;
}

.subMenu span {
    position: relative;
}

.subMenu span img {
    position: absolute;
    left: 100%;
    top: 0;
    /* rotate: 0deg; */
    transition: rotate 100ms;
}

.open {
    transition: rotate 100ms;
    rotate: 180deg;
}

.ulMenu {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms ease-out;
    margin: 0;
}

.gridDiv {
    overflow: hidden;
}

.ulMenu.showMenu {
    grid-template-rows: 1fr;
    transition: grid-template-rows 500ms ease-out;
}