.footer {
    background-color: rgb(132, 132, 132);
    padding-top: 1em;
    padding-bottom: 1em;
}

.footerChild img {
    width: 80%;
    max-width: 390px;
    margin: 0 auto;
    border-radius: 10px;
    aspect-ratio: 16/9;
}

@media (min-width: 900px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}