.img {
    margin: 0 auto;
    border-radius: 10px;
    /* object-position: top; */
}

.figure {
    margin-bottom: 2em;
}

@media (max-width: 699px) {
    .figure:last-of-type>div>img {
        object-position: top;
    }
}

@media (min-width: 700px) {
    .figure {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        padding-left: 2em;
        gap: 1em;
    }

    .figure>div:last-child>p {
        margin-top: 0;
        scrollbar-width: none;
        -ms-overflow-style: none;

    }

    .figure>div:last-child>p::-webkit-scrollbar {
        display: none;
    }
}