.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1em;
    z-index: 9999;
    background-color: black;
    border-bottom: 1px solid black;
}

.flex {
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    gap: .5em;
}

.flex * {
    display: inline;
    margin: 0;
    cursor: pointer;
}